{% extends "base.html" %}
{% load thumbnail %}
{% load url from future %}
{% load staticfiles %}
{% load googlesearch_inclusion_tags %}
{% block extra_js %}
<link rel="stylesheet" href="{% static 'css/flexslider.css' %}">
<script type="text/javascript" src="{% static 'js/jquery.flexslider.js' %}"></script>
<script type='text/javascript'> 
    
      $(document).ready(function(){
        $(function(){
          $('#camera_wrap_1').camera({
              height: '40%',
              playPause: false,
              pauseOnClick: false,
              pagination: false,
              hover: false,
              overlayer: false,
              imagePath: '/media/',
              time: 4000,
            });

        });

        $('.flexslider').flexslider({
            animation: "slide",
            animationLoop: true,
            slideshow: true,
            itemWidth: 200,
            itemMargin: 5,
            minItems: 2,
            maxItems:4,
            controlNav: false,
            directionNav: true,          
            prevText: "Previous",         
            nextText: "Next",
          });

    });
</script>
{% endblock extra_js %}

{% block contenido %}
<!-- Inicia el slider -->

<div class="home-slider">
    
  <div class="fluid_container">
    <div class="camera_wrap camera_emboss pattern_1" id="camera_wrap_1">
      {% for portada in latest_portada %}
        <div data-src="/media/{{portada.foto}}"> 
          <div id="frase1" class="animated slideInLeft">{{portada.texto1}}</div>
          <div id="frase2" class="animated slideInRight">{{portada.texto2}}</div>
        </div>
      {% endfor %}    
    </div><!-- #camera_wrap_4 -->
  </div><!-- .fluid_container -->
</div> <!-- finaliza el row del slider -->

<!-- inicia el buscador y redes sociales -->
<div class="cta-bar">
  <div class="row">
      <div class="large-8 medium-8 columns">
          {% include "busquedaSitio.html" %}
      </div>
      <div class="large-4 medium-4 columns">
          <section class="social-icons">
              <ul>
                   <li class="youtube"><a href="https://www.youtube.com/user/simasnicaragua" target="_blank"></a></li>
                  <li class="twitter"><a href="https://twitter.com/simasnicaragua" target="_blank"></a></li>
                  <li class="facebook"><a href="https://www.facebook.com/simas.org.ni" target="_blank"></a></li>
                  <li class="google"><a href="https://plus.google.com/u/0/114100385731830799998/posts" target="_blank"></a></li>
              </ul>
          </section>
      </div>
  </div>
</div>
<!-- finaliza el buscador y la red social -->

<!-- inicia noticias -->
<div id="content" class="clearfix">
  <div class="news section">
    <div class="row">
      <div class="large-12 columns moverVer">
        <h2 class="section-title">Noticias</h2>
        <a class="right all" href="/noticias">VER TODAS </a>
      </div>   
        {% for obj in latest_news %}

        <div class="large-4 medium-4 columns">
          <article class="item">
              <figure>
                {% if obj.foto %}
                {% thumbnail obj.foto "300x190" crop="10%" as img %}
                  
                   <a href="{% url 'detalle-noticia' obj.id obj.uri %}"><img src="/media/{{img}}" alt="obj.noticia"></a>
                    
                 
                {% endthumbnail %}
                {% else %}
                <a href="{% url 'detalle-noticia' obj.id obj.uri %}"><img src="/static/img/sinImagen.png" alt="obj.publicacion"></a>
                {% endif %}
                  <figcaption>
                    <a href="{% url 'detalle-noticia' obj.id obj.uri %}">
                    <h3>{{obj.noticia|truncatewords:14}}</h3></a><br>
                     <p>{{obj.descripcion|safe}}</p>
                  </figcaption>
              </figure>
              <div class="meta">
                                                
                  <h6>{{obj.fecha|date:"m.d.y"}} / <a href="{% url 'detalle-noticia' obj.id obj.uri %}">LEER M&aacute;s &raquo;</a></h6>
              </div>
          </article>
        </div>
        
        {% endfor %}
     </div>
  </div> 
<!-- finaliza la parte de las noticias -->

<!-- Inicia parte de las publicaciones -->
<div class="release section">
  <div class="row">
    <br><br>
    <div class="large-12 columns moverVer">
      <h2 class="section-title">Publicaciones</h2>
      <a class="right all" href="/publicaciones">VER TODAS</a>
    </div>
    <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
      {% for obj in latest_pub %}
      <li>
        <article class="pbn">
            <figure>
                <a href="{% url "detalle-publicacion" obj.id obj.uri %}">
                    <div class="mask">
                        <h3>{{obj.publicacion}}</h3>
                    </div>
                    {% if obj.portada %}
                    {% thumbnail obj.portada "202x200" crop="10%" as img %} 
                      <img src="/media/{{img}}" alt="{{obj.publicacion}}">
                    {% endthumbnail %}
                    {% else %}
                      <img src="http://placehold.it/202x200" alt="{{obj.publicacion}}">
                    {% endif %}
                </a>
            </figure>
        </article>
     </li>
      {% endfor %}
      </ul>
  </div>
</div> 
<!-- Fin de la parte de las publicaciones -->

<!-- Inicia parte de quienes somos -->
<div class="fullbg section">
  <div class="row">
      <div class="large-9 large-centered columns">
          <h2>SIMAS aborda la innovaci&oacute;n de la agricultura sostenible con un enfoque amplio</h2>
          <a href="/historia-simas" class="button radius">Historia</a>
      </div>
  </div>
</div>
<!-- finaliza la parte de quienes somos -->
<!-- Inicia parte de los blogs -->
<div class="extras section">
<div class="row">
  <!-- solo blogs -->
  <div id="blogs" class="large-6 medium-6 columns">
    <h2 class="section-title">Blogs</h2>
    {% for blog in latest_blogs %}
      <article class="post">
        {% if blog.foto %}
          {% thumbnail blog.foto "140x100" crop="10%" as img %}
          <div class="post-thumb">
            <a href="{% url 'detalle-blog' blog.id blog.uri %}"><img src="/media/{{img}}" alt="{{blog.blog}}" /></a>
          </div> 
          {% endthumbnail %}
        {%else%}
          <a href="{% url 'detalle-blog' blog.id blog.uri %}"><img src="http://lorempixel.com/140/100/" alt=""></a>
        {% endif %}
        <div class="post-content">
            <div class="post-meta">
                <h6>{{blog.fecha|date:"m.d.y"}} / <span class="tag">{{blog.idcatblog}}</span></h6>
            </div>
            <a href="{% url 'detalle-blog' blog.id blog.uri %}"><h4>{{blog.blog}}</h4></a>
            <a href="{% url 'detalle-blog' blog.id blog.uri %}" class="more">Leer Art&iacute;culo &raquo;</a>
        </div>
      </article>
    {% endfor %}
  </div> <!-- fin parte solo blogs -->
  <!-- Inicia parte de los productos y servicios -->

  <div class="large-6 medium-6 columns" id="serv">
    <h2 class="section-title" >Servicios</h2>
    {% for porta in latest_service %}
      <div class="row">
              {% if porta.imagen%}
        
          <div class="large-4 medium-4 columns">
            <img src="/media/{{porta.imagen}}" alt="" width="80%" />
          </div>   
        
        {%else%}
            <div class="large-4 medium-4 columns">
              <img src="http://placehold.it/120x120" alt="" width="80%" />
            </div>
        {% endif %}
        <div class="product-content large-8 medium-8 columns">
          <a href="/portafolio/sistemas"><h4>{{porta.servicio}}</h4></a>
          <p>{{porta.descripcion|safe|truncatewords:10}}</p>
      </div>
      
      </div>
      <hr id="hrp">
    {% endfor %}
     <a href="/portafolio/sistemas" class="more">Ver más >></a>
  </div>
<!--  <div class="large-6 medium-6 columns" style="padding-bottom:1em !important">
    <div id="productos">
    <h2 class="section-title" >Servicios</h2>
    {% for porta in latest_service %}
    <div class="product">
      {% if porta.imagen%}
        {% thumbnail porta.imagen "120x120" crop="10%" as img %}
          <div class="product-thumb large-4 medium-4 columns">
            <img src="/media/{{porta.imagen}}" alt="" />
          </div>   
        {% endthumbnail %}
        {%else%}
            <div class="product-thumb large-4 medium-4 columns">
              <img src="http://placehold.it/120x120" alt="" />
            </div>
        {% endif %}
      <div class="product-content large-8 medium-8 columns">
          <h4>{{porta.servicio}}</h4>
          <p>{{porta.descripcion|safe|truncatewords:10}}</p>
      </div>
    </div>
    <hr id="hrp">
    {% endfor %}
    <a href="/portafolio/servicios">Ver más</a>
    </div>
  </div> --> <!-- finaliza parte solo de los productos y servicios -->
</div>
</div>
<!-- fin parte de blogs y servicios -->

<!-- inicia parte de las Alianzas -->
<div class="alianzas section">
    <div class="row">
        <div class="large-3 medium-3 columns">
            <h3>Alianzas</h3>
            <p>Estas son las organizaciones con las que trabajamos.</p>
            <!-- <a href="#" class="all">Ver todas</a> -->
        </div>
        <div class="large-1 medium-1 columns"></div>
        <div class="large-8 medium-8 columns">
          <div class="flexslider">
            <ul class="slides">
              {% for aliado in latest_aliados %}
              <li>
                  <a href="{{aliado.web}}" target="_blank">
                    {% thumbnail aliado.logo "120" crop="10%" format="PNG" as img %}
                      <img src="/media/{{img}}" alt="{{aliado.aliado}}" width="50%" style="margin:0 auto">
                    {% endthumbnail%}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
    </div>
</div>
<!-- fin de la parte de las alianza -->
</div> <!-- fin del content -->
{% include "footer.html" %}

{% endblock contenido %}
