{% extends "base.html" %}
{% load thumbnail %}
{% load url from future %}
{% load staticfiles %}

{% block extra_js %}

<script type="text/javascript" src="{% static 'js/jquery.bxslider.js' %}"></script>
<link href="{% static 'css/jquery.bxslider.css' %}" rel="stylesheet" />

<script>

$('.menu a.menu3').addClass('activate');

$(document).ready(function(){

  var slider = $('.bxslider').bxSlider({
    mode: 'fade',
    hideControl: true,
    slideMargin: 12,
    pager:false,
  });

});
  
</script>
{% endblock extra_js %}

{% block contenido %}

<div class="quienesfondo">
  <img src="/media/{{foto_portafolio.foto}}" alt="">
  <div class="row"><h1 class="text-center texto wow bounceInRight" data-wow-duration="2s">{{foto_portafolio.titulo}}</h1></div>
</div>
<!-- inicia el buscador y redes sociales -->
<div class="cta-bar">
  <div class="row">
      <div class="large-8 medium-8 columns">
        {% include "busquedaSitio.html" %}
      </div>
      <div class="large-4 medium-4 columns">
        <div id="filtro" class="filtros right">
          
          
          <li class="buton button"><a href="/portafolio/sistemas">Sistemas</a></li>
          <li class="buton button"><a href="/portafolio/servicios">Portafolio</a></li>
        </div>
      </div>
  </div>
</div>
<!-- finaliza el buscador y la red social -->
<br><br>
{% load thumbnail %}
<h2 align="center" id="tituloPortafolio">En SIMAS te brindamos el desarrollo de sistemas de información y sitios web, diseñado con tecnologias de software libre</h2>
{% for portfolio in object_list %}
<div class="{% cycle 'blanco' 'otrocolor' %}">
    <div class="row">
        {% if forloop.counter|divisibleby:2 %}
            <div class="medium-6 columns wow bounceInLeft">
                <div class="descripcion">
                    <h3>{{portfolio.servicio}}</h3>
                    <p align="justify">{{portfolio.resumen}}</p>
                    <ul>
                        <li><i class="fa fa-calendar"></i> {{portfolio.fecha}}</li>
                        <li><i class="fa fa-link"></i> <a href="{{portfolio.link}}" target="_blank">{{portfolio.link}}</a></li>
                        <li><i class="fa fa-users"></i> {% for org in portfolio.organizacion.all %} {{org}} {%endfor%}</li>
                    </ul>    
                </div>
            </div>
            <div class="medium-6 columns wow bounceInRight">
                <div class="notaa portafolio">
                    <ul class="bxslider">
                    {% if portfolio.fotos %}
                    {% for imagen in portfolio.fotos.all %}
                        {% thumbnail imagen.imagen "440x272" crop="10%" as img %} 
                           <li> <img src="/media/{{img}}" alt="{{portfolio.servicio}}" /></li>
                        {% endthumbnail %}
                    {% endfor %}
                    {%else%}
                        <li><img src="http://placehold.it/440x272" alt="" /></li>
                    {% endif %}
                 </ul>
                </div>
            </div>
        {% else %}
            <div class="medium-6 columns wow bounceInLeft">
                <div class="nota porta">
                    <ul class="bxslider">
                    {% if portfolio.fotos %}
                    {% for imagen in portfolio.fotos.all %}
                        {% thumbnail imagen.imagen "440x272" crop="10%" as img %} 
                           <li><img src="/media/{{img}}" alt="{{portfolio.servicio}}" /></li>
                        {% endthumbnail %}
                    {% endfor %}
                    {%else%}
                        <li> <img src="http://placehold.it/440x272" alt="" /> </li>
                    {% endif %}
                    </ul>
                </div>
            </div>
            <div class="medium-6 columns wow bounceInRight">
                <div class="descripcion">
                    <h3>{{portfolio.servicio}}</h3>
                    <p align="justify">{{portfolio.resumen}}</p>
                    <ul>
                        <li><i class="fa fa-calendar"></i> {{portfolio.fecha}}</li>
                        <li><i class="fa fa-link"></i> <a href="{{portfolio.link}}" target="_blank">{{portfolio.link}}</a></li>
                        <li><i class="fa fa-users"></i> {% for org in portfolio.organizacion.all%} {{org}} {%endfor%}</li>
                    </ul>    
                </div>
            </div>
        {% endif %}
</div>
</div>   
{% endfor %}

<div class="pagination-centered">
  {% if is_paginated %}
      {% load paginador %}
      {% render_paginator 2 3 %}
    {% endif %}
  </div>
<hr>

{% include "footer.html" %}

{% endblock contenido %}